
<!-- Main Wrapper -->
<div class="main-wrapper">

  <!-- Header -->
<app-navbar></app-navbar>
  <!-- /Header -->

  <!-- Home Banner -->
  <section class="home-slide d-flex align-items-center">
    <div class="container">
      <div class="row ">
        <div class="col-md-7">
          <div class="home-slide-face aos" data-aos="fade-up">
            <div class="home-slide-text ">
              <h5>Gérez votre mobilité internationale en toute simplicité</h5>
              <h1>ESPRIT Mobilité</h1>
              <p>Une plateforme dédiée aux étudiants d'ESPRIT pour organiser leurs échanges, doubles diplômes et stages à l'étranger.</p>
            </div>
            <div class="banner-content">
              <form class="form"  action="https://dreamslms.dreamstechnologies.com/html/course-list.html">
                <div class="form-inner">
                  <div class="input-group">
                    <i class="fa-solid fa-magnifying-glass search-icon"></i>
                    <input type="email" class="form-control" placeholder="Recherchez une université partenaire, un programme, etc.">
                    <span class="drop-detail">
													<select class="form-select select">
														<option>Catégorie</option>
														<option>Angular</option>
														<option>Node Js</option>
														<option>React</option>
														<option>Python</option>
													</select>
												</span>
                    <button class="btn btn-primary sub-btn" type="submit"><i class="fas fa-arrow-right"></i></button>
                  </div>
                </div>
              </form>
            </div>
            
          </div>
        </div>
        <div class="col-md-5 d-flex align-items-center">
          <div class="girl-slide-img aos" data-aos="fade-up">
            <img src="assets/img/object.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Home Banner -->
  <section class="section student-course">
    <div class="container">
      <div class="course-widget">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="course-full-width">
              <div class="blur-border course-radius align-items-center aos" data-aos="fade-up">
                <div class="online-course d-flex align-items-center">
                  <div class="course-img">
                    <img src="assets/img/pencil-icon.svg" alt="">
                  </div>
                  <div class="course-inner-content">
                    <h4><span>350+</span></h4>
                    <p>Étudiants en mobilité chaque année</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 d-flex">
            <div class="course-full-width">
              <div class="blur-border course-radius aos" data-aos="fade-up">
                <div class="online-course d-flex align-items-center">
                  <div class="course-img">
                    <img src="assets/img/cources-icon.svg" alt="">
                  </div>
                  <div class="course-inner-content">
                    <h4><span>30</span>+</h4>
                    <p>Universités partenaires</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 d-flex">
            <div class="course-full-width">
              <div class="blur-border course-radius aos" data-aos="fade-up">
                <div class="online-course d-flex align-items-center">
                  <div class="course-img">
                    <img src="assets/img/certificate-icon.svg" alt="">
                  </div>
                  <div class="course-inner-content">
                    <h4><span>70%</span></h4>
                    <p>PFE réalisés à l'étranger</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 d-flex">
            <div class="course-full-width">
              <div class="blur-border course-radius aos" data-aos="fade-up">
                <div class="online-course d-flex align-items-center">
                  <div class="course-img">
                    <img src="assets/img/gratuate-icon.svg" alt="">
                  </div>
                  <div class="course-inner-content">
                    <h4><span>50</span>+</h4>
                    <p>Opportunités disponibles</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Home Banner -->

  <!-- Top Categories -->
  <section class="section how-it-works">
    <div class="container">
      <div class="section-header aos" data-aos="fade-up">
        <div class="section-sub-head">
          <span>Pays populaires</span>
          <h2>Destinations préférées</h2>
        </div>
        <div class="all-btn all-category d-flex align-items-center">
          
        </div>
      </div>
      <div class="section-text aos" data-aos="fade-up">
        <p>Découvrez un monde d'opportunités ! Vivez une expérience unique à travers des cultures variées, des langages nouveaux et des horizons inattendus. Votre mobilité, votre aventure.</p>
      </div>
      <div class="owl-carousel mentoring-course owl-theme aos" data-aos="fade-up">
        <div class="feature-box text-center " >
          <div class="feature-bg" >
            <div class="feature-header">
              <div class="feature-icon">
                <img src="assets/img/france.jpg" alt="">
              </div>
              <div class="feature-cont">
                <div class="feature-text">France</div>
              </div>
            </div>
            <p>18 écoles partenaires</p>
          </div>
        </div>
        <div class="feature-box text-center " >
          <div class="feature-bg" >
            <div class="feature-header">
              <div class="feature-icon">
                <img src="assets/img/uk.jpg" alt="">
              </div>
              <div class="feature-cont">
                <div class="feature-text">Royaume-Uni</div>
              </div>
            </div>
            <p >1 école partenaire</p>
          </div>
        </div>
        <div class="feature-box text-center " >
          <div class="feature-bg" >
            <div class="feature-header">
              <div class="feature-icon">
                <img src="assets/img/usa.png" alt="">
              </div>
              <div class="feature-cont">
                <div class="feature-text">États-Unis</div>
              </div>
            </div>
            <p >2 écoles partenaires</p>
          </div>
        </div>
        <div class="feature-box text-center " >
          <div class="feature-bg" >
            <div class="feature-header">
              <div class="feature-icon">
                <img src="assets/img/germany.jpg" alt="">
              </div>
              <div class="feature-cont">
                <div class="feature-text">Allemagne</div>
              </div>
            </div>
            <p >5 écoles partenaires</p>
          </div>
        </div>
        <div class="feature-box text-center " >
          <div class="feature-bg" >
            <div class="feature-header">
              <div class="feature-icon">
                <img src="assets/img/canada.jpg" alt="">
              </div>
              <div class="feature-cont">
                <div class="feature-text">Canada</div>
              </div>
            </div>
            <p >1 école partenaire</p>
          </div>
        </div>
        <div class="feature-box text-center " >
          <div class="feature-bg" >
            <div class="feature-header">
              <div class="feature-icon">
                <img src="assets/img/china.jpg" alt="">
              </div>
              <div class="feature-cont">
                <div class="feature-text">Chine<br></div>
              </div>
            </div>
            <p >1 école partenaire</p>
          </div>
        </div>
        <div class="feature-box text-center " >
          <div class="feature-bg" >
            <div class="feature-header">
              <div class="feature-icon">
                <img src="assets/img/tunisia.jpg" alt="">
              </div>
              <div class="feature-cont">
                <div class="feature-text">Tunisie</div>
              </div>
            </div>
            <p ></p>
          </div>
        </div>
        
        
        
        
       
        
      </div>
    </div>
  </section>
  <!-- /Top Categories -->

  <!-- Feature Course -->
 
  <!-- /Feature Course -->

  <!-- Master Skill -->
  <section class="section master-skill">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-12">
          <div class="section-header aos" data-aos="fade-up">
            <div class="section-sub-head">
              <span>Votre mobilité, votre tremplin professionnel</span>
              <h2>Double diplôme, semestre d'échange ou PFE à l'étranger : transformez votre parcours académique en expérience mondiale.</h2>
            </div>
          </div>
          
          <div class="career-group aos" data-aos="fade-up">
            <div class="row">
              <div class="col-lg-6 col-md-6 d-flex">
                <div class="certified-group blur-border d-flex">
                  <div class="get-certified d-flex align-items-center">
                    <div class="blur-box">
                      <div class="certified-img ">
                        <img src="assets/img/icon/icon-1.svg" alt="" class="img-fluid">
                      </div>
                    </div>
                    <p>Double diplôme : Obtenez un diplôme ESPRIT + celui d'une université partenaire à l'international.</p>
                  </div>
                </div>
              </div>
              
              <div class="col-lg-6 col-md-6 d-flex">
                <div class="certified-group blur-border d-flex">
                  <div class="get-certified d-flex align-items-center">
                    <div class="blur-box">
                      <div class="certified-img ">
                        <img src="assets/img/icon/icon-3.svg" alt="" class="img-fluid">
                      </div>
                    </div>
                    <p>Semestre d'échange : Étudiez dans l'une de nos universités partenaires sans prolonger votre cursus.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 d-flex">
                <div class="certified-group blur-border d-flex">
                  <div class="get-certified d-flex align-items-center">
                    <div class="blur-box">
                      <div class="certified-img ">
                        <img src="assets/img/icon/icon-4.svg" alt="" class="img-fluid">
                      </div>
                    </div>
                    <p>PFE à l'étranger : Validez votre projet de fin d'études en entreprise à l'international avec un accompagnement sur mesure.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-12 d-flex align-items-end">
          <div class="career-img aos" data-aos="fade-up">
            <img src="assets/img/join.png" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Master Skill -->

  <!-- Trending Course -->
  
  <!-- /Trending Course -->

  <!-- Leading Companies -->
  <section class="section lead-companies">
    <div class="container">
      <div class="section-header aos" data-aos="fade-up">
        <div class="section-sub-head feature-head text-center">
          <span>Nos Universités Partenaires pour Votre Mobilité</span>
          <h2>Partez étudier dans des établissements prestigieux à travers le monde</h2>
        </div>
      </div>
      <div class="lead-group aos" data-aos="fade-up">
        <div class="lead-group-slider owl-carousel owl-theme">
          <div class="item">
            <div class="lead-img">
              <img class="img-fluid" alt="" src="assets/img/one.png">
            </div>
          </div>
          <div class="item">
            <div class="lead-img">
              <img class="img-fluid" alt="" src="assets/img/two.png">
            </div>
          </div>
          <div class="item">
            <div class="lead-img">
              <img class="img-fluid" alt="" src="assets/img/three.png">
            </div>
          </div>
          <div class="item">
            <div class="lead-img">
              <img class="img-fluid" alt="" src="assets/img/four.png">
            </div>
          </div>
          <div class="item">
            <div class="lead-img">
              <img class="img-fluid" alt="" src="assets/img/five.png">
            </div>
          </div>
          <div class="item">
            <div class="lead-img">
              <img class="img-fluid" alt="" src="assets/img/6.png">
            </div>
          </div>
          <div class="item">
            <div class="lead-img">
              <img class="img-fluid" alt="" src="assets/img/7.png">
            </div>
          </div>
          <div class="item">
            <div class="lead-img">
              <img class="img-fluid" alt="" src="assets/img/8.png">
            </div>
          </div>
          <div class="item">
            <div class="lead-img">
              <img class="img-fluid" alt="" src="assets/img/9.png">
            </div>
          </div>
          <div class="item">
            <div class="lead-img">
              <img class="img-fluid" alt="" src="assets/img/10.png">
            </div>
          </div>
          <div class="item">
            <div class="lead-img">
              <img class="img-fluid" alt="" src="assets/img/11.png">
            </div>
          </div>
          <div class="item">
            <div class="lead-img">
              <img class="img-fluid" alt="" src="assets/img/12.png">
            </div>
          </div>
          <div class="item">
            <div class="lead-img">
              <img class="img-fluid" alt="" src="assets/img/13.png">
            </div>
          </div>
          <div class="item">
            <div class="lead-img">
              <img class="img-fluid" alt="" src="assets/img/14.png">
            </div>
          </div>
          <div class="item">
            <div class="lead-img">
              <img class="img-fluid" alt="" src="assets/img/15.png">
            </div>
          </div>
          <div class="item">
            <div class="lead-img">
              <img class="img-fluid" alt="" src="assets/img/16.png">
            </div>
          </div>
          <div class="item">
            <div class="lead-img">
              <img class="img-fluid" alt="" src="assets/img/17.png">
            </div>
          </div>
          <div class="item">
            <div class="lead-img">
              <img class="img-fluid" alt="" src="assets/img/18.png">
            </div>
          </div>
          <div class="item">
            <div class="lead-img">
              <img class="img-fluid" alt="" src="assets/img/19.png">
            </div>
          </div>
          <div class="item">
            <div class="lead-img">
              <img class="img-fluid" alt="" src="assets/img/20.png">
            </div>
          </div>
          <div class="item">
            <div class="lead-img">
              <img class="img-fluid" alt="" src="assets/img/21.png">
            </div>
          </div>
          <div class="item">
            <div class="lead-img">
              <img class="img-fluid" alt="" src="assets/img/22.png">
            </div>
          </div>
          <div class="item">
            <div class="lead-img">
              <img class="img-fluid" alt="" src="assets/img/23.png">
            </div>
          </div>
          <div class="item">
            <div class="lead-img">
              <img class="img-fluid" alt="" src="assets/img/24.png">
            </div>
          </div>
          <div class="item">
            <div class="lead-img">
              <img class="img-fluid" alt="" src="assets/img/25.png">
            </div>
          </div>
          <div class="item">
            <div class="lead-img">
              <img class="img-fluid" alt="" src="assets/img/26.png">
            </div>
          </div>
          <div class="item">
            <div class="lead-img">
              <img class="img-fluid" alt="" src="assets/img/27.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Leading Companies -->

  <!-- Share Knowledge -->
  <section class="section share-knowledge">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="knowledge-img aos" data-aos="fade-up">
            <img src="assets/img/share.png" alt="" class="img-fluid">
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-center">
          <div class="join-mentor aos" data-aos="fade-up">
            <h2>Want to share your knowledge? Join us a Mentor</h2>
            <p>High-definition video is video of higher resolution and quality than standard-definition. While there is no standardized meaning for high-definition, generally any video.</p>
            <ul class="course-list">
              <li><i class="fa-solid fa-circle-check"></i>Best Courses</li>
              <li><i class="fa-solid fa-circle-check"></i>Top rated Instructors</li>
            </ul>
            <div class="all-btn all-category d-flex align-items-center">
              <a href="instructor-list.html" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Share Knowledge -->

  <!-- Users Love -->
  <section class="section user-love">
    <div class="container">
      <div class="section-header white-header aos" data-aos="fade-up">
        <div class="section-sub-head feature-head text-center">
          <span>Check out these real reviews</span>
          <h2>Users-love-us Don't take it from us.</h2>
        </div>
      </div>
    </div>
  </section>
  <!-- /Users Love -->

  <!-- Say testimonial Four -->
  <section class="testimonial-four">
    <div class="review">
      <div class="container">
        <div class="testi-quotes">
          <img src="assets/img/qute.png" alt="" >
        </div>
        <div class="mentor-testimonial lazy slider aos" data-aos="fade-up" data-sizes="50vw ">
          <div class="d-flex justify-content-center">
            <div class="testimonial-all d-flex justify-content-center">
              <div class="testimonial-two-head text-center align-items-center d-flex">
                <div class="testimonial-four-saying ">
                  <div class="testi-right">
                    <img src="assets/img/qute-01.png" alt="">
                  </div>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                  <div class="four-testimonial-founder">
                    <div class="fount-about-img">
                      <a href="instructor-profile.html"><img src="assets/img/user/user1.jpg" alt="" class="img-fluid"></a>
                    </div>
                    <h3><a href="instructor-profile.html">Daziy Millar</a></h3>
                    <span>Founder of Awesomeux Technology</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <div class="testimonial-all d-flex justify-content-center">
              <div class="testimonial-two-head text-center align-items-center d-flex">
                <div class="testimonial-four-saying ">
                  <div class="testi-right">
                    <img src="assets/img/qute-01.png" alt="">
                  </div>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                  <div class="four-testimonial-founder">
                    <div class="fount-about-img">
                      <a href="instructor-profile.html"><img src="assets/img/user/user3.jpg" alt="" class="img-fluid"></a>
                    </div>
                    <h3><a href="instructor-profile.html">john smith</a></h3>
                    <span>Founder of Awesomeux Technology</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <div class="testimonial-all d-flex justify-content-center">
              <div class="testimonial-two-head text-center align-items-center d-flex">
                <div class="testimonial-four-saying ">
                  <div class="testi-right">
                    <img src="assets/img/qute-01.png" alt="">
                  </div>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                  <div class="four-testimonial-founder">
                    <div class="fount-about-img">
                      <a href="instructor-profile.html"><img src="assets/img/user/user2.jpg" alt="" class="img-fluid"></a>
                    </div>
                    <h3><a href="instructor-profile.html">David Lee</a></h3>
                    <span>Founder of Awesomeux Technology</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Say testimonial Four -->

  <!-- Become An Instructor -->
  <section class="section become-instructors aos" data-aos="fade-up">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 d-flex">
          <div class="student-mentor cube-instuctor ">
            <h4>Financement</h4>
            <div class="row">
              <div class="col-lg-7 col-md-12">
                <div class="top-instructors">
                  <p><strong>Mobilité publique :</strong> Payez uniquement vos frais ESPRIT durant la mobilité.</p>
                  <p><strong>Mobilité privée :</strong> Payez ESPRIT + l’université partenaire.</p>
                </div>
              </div>
              <div class="col-lg-5 col-md-12">
                <div class="mentor-img">
                  <img class="img-fluid" alt="" src="assets/img/become-02.png">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 d-flex">
          <div class="student-mentor yellow-mentor">
            <h4>Programmes</h4>
            <div class="row">
              <div class="col-lg-8 col-md-12">
                <div class="top-instructors">
                  <p><strong>d’échange :</strong> Validez un semestre chez ESPRIT ou à l’école partenaire sans rallonger votre cursus. (Généralement effectué au 1er semestre de la 5ème année ESPRIT.)</p>
                  <p><strong>Double diplôme :</strong> 2 ans (Refaire votre 4ème année ESPRIT à l'étranger + 1 année supplémentaire.) pour obtenir deux diplômes.</p>
                </div>
              </div>
              <div class="col-lg-4 col-md-12">
                <div class="mentor-img">
                  <img class="img-fluid" alt="" src="assets/img/become-01.png">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Become An Instructor -->

  <!-- Latest Blog -->
  <section class="section latest-blog">
    <div class="container">
      <div class="section-header aos" data-aos="fade-up">
        <div class="section-sub-head feature-head text-center mb-0">
          <h2>Qui peut bénéficier de la mobilité ?</h2>
          <div class="section-text aos" data-aos="fade-up">
            <p class="mb-0">Tous les étudiants d'ESPRIT sont éligibles aux programmes de mobilité, à condition que la destination corresponde à leur domaine d'études. Nous organisons régulièrement des réunions d'information pour présenter les opportunités par université partenaire.</p>
          </div>
        </div>
      </div>
      <div class="owl-carousel blogs-slide owl-theme aos" data-aos="fade-up">
        <div class="instructors-widget blog-widget">
          <div class="instructors-img">
            <a href="blog-list.html">
              <img class="img-fluid" alt="" src="assets/img/blog/info.jpg">
            </a>
          </div>
          <div class="instructors-content text-center">
            <h5><a href="blog-list.html">Informatique</a></h5>
            
            <div class="student-count d-flex justify-content-center">
              
            </div>
          </div>
        </div>
        <div class="instructors-widget blog-widget">
          <div class="instructors-img">
            <a href="blog-list.html">
              <img class="img-fluid" alt="" src="assets/img/blog/telecom.jpg">
            </a>
          </div>
          <div class="instructors-content text-center">
            <h5><a href="blog-list.html">Télécommunications</a></h5>
            
            <div class="student-count d-flex justify-content-center">
              
            </div>
          </div>
        </div>
        <div class="instructors-widget blog-widget">
          <div class="instructors-img">
            <a href="blog-list.html">
              <img class="img-fluid" alt="" src="assets/img/blog/GC.jpg">
            </a>
          </div>
          <div class="instructors-content text-center">
            <h5><a href="blog-list.html">Génie Civil</a></h5>
            
            <div class="student-count d-flex justify-content-center">
              
            </div>
          </div>
        </div>
        <div class="instructors-widget blog-widget">
          <div class="instructors-img">
            <a href="blog-list.html">
              <img class="img-fluid" alt="" src="assets/img/blog/elec.jpg">
            </a>
          </div>
          <div class="instructors-content text-center">
            <h5><a href="blog-list.html">Électromécanique</a></h5>
            
            <div class="student-count d-flex justify-content-center">
              
            </div>
          </div>
        </div>
        <div class="instructors-widget blog-widget">
          <div class="instructors-img">
            <a href="blog-list.html">
              <img class="img-fluid" alt="" src="assets/img/blog/bus.jpg">
            </a>
          </div>
          <div class="instructors-content text-center">
            <h5><a href="blog-list.html">Business</a></h5>
            
           
          </div>
        </div>
        
        
        
        
        
      </div>
      
      
    </div>
  </section>
  <!-- /Latest Blog -->

  <!-- Footer -->
<app-footer></app-footer>
  <!-- /Footer -->

</div>
<!-- /Main Wrapper -->
